---
import Layout from "../layouts/Layout.astro";
---

<Layout>
        <!-- Proyectos -->
        <section id="proyectos" class="projects section-padding">
            <div class="container">
                <h2 class="section-title-bg" data-text="PROYECTOS">PROYECTOS</h2>
                <h3 class="section-subtitle text-center" data-i18n="projects_title">Nuestros Proyectos</h3>
                <!-- SLIDER PARA PC -->
                <div class="swiper waterproofingDesktop DesktopHidde">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="wrapper-slider-image">
                                <img src="./images/movimientos/movimientos01.jpeg" alt="">
                                <div>
                                    <a href="" class="btn-slider-image btn">Ver más</a>
                                    <p>MOVIMIENTOS DE TIERRA Y EXCAVACIONES</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrapper-slider-image">
                                <img src="https://picsum.photos/seed/proj1/600/800" alt="">
                                <div>
                                    <a href="" class="btn-slider-image btn">Ver más</a>
                                    <p>Colocación de ventanas</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrapper-slider-image">
                                <img src="https://picsum.photos/seed/proj2/600/800" alt="">
                                <div>
                                    <a href="" class="btn-slider-image btn">Ver más</a>
                                    <p>Colocación de ventanas</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrapper-slider-image">
                                <img src="https://picsum.photos/seed/proj3/600/800" alt="">
                                <div>
                                    <a href="" class="btn-slider-image btn">Ver más</a>
                                    <p>Colocación de ventanas</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrapper-slider-image">
                                <img src="https://picsum.photos/seed/proj4/600/800" alt="">
                                <div>
                                    <a href="" class="btn-slider-image btn">Ver más</a>
                                    <p>Colocación de ventanas</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrapper-slider-image">
                                <img src="https://picsum.photos/seed/proj5/600/800" alt="">
                                <div>
                                    <a href="" class="btn-slider-image btn">Ver más</a>
                                    <p>Colocación de ventanas</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrapper-slider-image">
                                <img src="https://picsum.photos/seed/proj6/600/800" alt="">
                                <div>
                                    <a href="" class="btn-slider-image btn">Ver más</a>
                                    <p>Colocación de ventanas</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <section>
                    <h3>IMPERMEABILIZACIONES</h2>
                        <!--SLIDER PARA MOVIL -->
                        <div class="swiper waterproofingMobil MobilHidde">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/waterproof/mobil/impermeabilizacion_terraza_01.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/waterproof/mobil/impermeabilizacion_terraza_02.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/waterproof/mobil/impermeabilizacion_terraza_03.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/waterproof/mobil/impermeabilizacion_terraza_04.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/waterproof/mobil/impermeabilizacion_terraza_05.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/waterproof/mobil/impermeabilizacion_terraza_06.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- FIN DE SLIDER -->
                </section>
                <section>
                    <h3>REFORMA DE BAÑOS</h2>
                        <!--SLIDER PARA MOVIL -->
                        <div class="swiper waterproofingMobil MobilHidde">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/ducha/mobil/cervera_antes.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/ducha/mobil/cervera_despues.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/ducha/mobil/antes_02.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/ducha/mobil/despues_02.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/ducha/mobil/antes_03.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/ducha/mobil/despues_03.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- FIN DE SLIDER -->
                </section>
                <section>
                    <h3>RENOVACIÓN DE FACHADAS</h2>
                        <!--SLIDER PARA MOVIL -->
                        <div class="swiper waterproofingMobil MobilHidde">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/fachadas/mobil/fachada-01.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/fachadas/mobil/fachada-02.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/fachadas/mobil/fachada-03.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/fachadas/mobil/fachada-04.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/fachadas/mobil/fachada-05.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <img src="./images/proyects/fachadas/mobil/fachada-06.jpeg"
                                            alt="">
                                        <div class="wrapper-slider-image__proyects">
                                            <a href="" class="btn-slider-image btn">Saber más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- FIN DE SLIDER -->
                </section>


            </div>
        </section>
        <!-- FAQ -->
        <section class="faq section-padding">
            <div class="container">
                <h2 class="section-title-bg" data-text="FAQ">FAQ</h2>
                <h3 class="section-subtitle text-center" data-i18n="faq_title">Preguntas Frecuentes</h3>

                <div class="faq-list">
                    <details>
                        <summary data-i18n="faq_q1">¿Cuánto tiempo dura una reforma integral?</summary>
                        <p data-i18n="faq_a1">Depende del tamaño de la vivienda, pero generalmente entre 2 y 4 meses.
                        </p>
                    </details>
                    <details>
                        <summary data-i18n="faq_q2">¿Os encargáis de los permisos de obra?</summary>
                        <p data-i18n="faq_a2">Sí, gestionamos toda la documentación necesaria con el ayuntamiento
                            correspondiente.</p>
                    </details>
                    <details>
                        <summary data-i18n="faq_q3">¿Ofrecéis garantía en vuestros trabajos?</summary>
                        <p data-i18n="faq_a3">Sí, todos nuestros trabajos cuentan con una garantía mínima de 2 años.</p>
                    </details>
                    <details>
                        <summary data-i18n="faq_q4">¿Cómo se realiza el pago de la reforma?</summary>
                        <p data-i18n="faq_a4">Habitualmente se realiza un pago inicial, certificaciones mensuales y un
                            pago final tras la entrega.</p>
                    </details>
                </div>
            </div>
        </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script>
        import Swiper from 'swiper';
                
        const isMobile = window.innerWidth < 640;
        if (isMobile) {
            var swiper = new Swiper(".waterproofingMobil", {
                pagination: {
                    el: ".swiper-pagination",
                    dynamicBullets: true,
                },
            });
        } else {
            var swiper = new Swiper(".waterproofingDesktop", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination: {
                    el: ".swiper-pagination",
                },
            });
        }
    </script>

</Layout>
